
form{
    border: none;
    text-align: center;
    font-family: Helvetica;
}

.webform-client-form {
    padding-top: 35px;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0%;
    background-size: 100% 100%;
    font-family: Helvetica;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 83.2%;
    height: auto !important;
    height: 83.2%;
    margin: 0 auto 80px;
}

#footer, .push {
    height: 85px;
}

.content {
    position: relative;
    display: block;
    width: 58%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    left: auto;
    padding: 13px;
    background-color: white;
    alignment: center;
}

.content h3 {
    text-align: center;
}

tr {
    border: 1px solid dimgrey;
}

table {
    margin: auto;
    margin-top: 60px;
    border: 1px solid dimgrey;
    border-collapse: collapse;
}

.planning {
    text-align: center;
}

td {
    height: 50px;
    width: 150px;
}

.jour_actif {
    background-color: orange;
}

.conflits {
    border: 1px solid red;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

h4 , h2 {
    text-align: center;
    padding-top: 30px;
}

.groupe-res {
    border-top: 1px solid #2e2e2e;
    padding-bottom: 40px;
}

.entete_groupe_res {
    text-align: left;
}

.center {
    text-align: center;
}

.img-vehic {
    width: 370px;
    height: 280px;
}

.bottom {
    padding-bottom: 100px;
}

.reservation {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 30px;
}

.validation_rouge {
    background-color: red;
    border-radius: 100%;
    float: left;
    height: 25px;
    width: 25px;

}

.validation_orange {
    background-color: orange;
    border-radius: 100%;
    float: left;
    height: 25px;
    width: 25px;

}

.res_entete {
    text-align: center;
}

.boutons_res {
    text-align: right;
}

.idres {
    float: right;
}

.texte-invi {
    display: none;
}

/** modale */

#fade {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 9999;
}

.modal_perso {
    display: none;
    background: #fff;
    padding: 20px;
    float: default;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.modal_basic {
    display: inline-block;
    height: 190px;
    list-style: none;
}

.modal_basic ul li {
    margin-bottom: 15px;
}

.modal_comment {
    margin-top: 20px;
    margin-left: 4%;

}

.modal_comment u {
    margin-left: -2%;
}

.comments_area {
    resize: none;
    width:90% ;
    height:150px;
    margin:auto;
    display:block;
}


.img_modal {
    float: left;
    width: 280px;
    height: 190px;
    margin-right: 20px;
}

.creneau1 {
}

.creneau1:before {
    position: relative;
    content: url(../img/planning/debut.png);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.creneau2 {
}

.creneau2:before {
    position: relative;
    content: url(../img/planning/fin.png);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.defil {
    font-size: 100px;
}

.vehics {
    margin-top: 2%;
    width: 95%;
    height: 100%;
}

.vehics img {
    width: 287px;
    height: 227px;
}

#float_right {
    text-align: right;
}

.titre {
    text-align: center;
}

#image-vehic {
    text-align: center;
    background-position-x: center;
    margin-left: -2%;
}

#reserver_vehicule {

}

.red_text {
    color: #c52d2f;
}

.scrolling-overflow {
    max-height: 500px;
    overflow: scroll;
}

#game-name {
    max-width: 400px;
}