.header {
	margin-top: -15px;
	margin-left: -10px;
	border-collapse: collapse;
	width: 101.4%;
	opacity: 0.9;
}

td, th
{
	border: 1px solid dimgrey;
	width: auto;
	padding: 10px;
}

.header a {
	color: #DFDFDF;
	text-decoration: none;
}

.header td {
	border: none;
	background-color: dimgrey;
	text-align: center;
	font-family: Helvetica;
	padding: 25px;
}

