h1 {
    text-align: center;
    font-family: Helvetica;
    margin-top: 20px;
}

#suscribe {
    margin-top: -70px;
}
input {
    margin-left: 33%;
    width: 33%;
    margin-top: 10px;
    display: block;
    alignment: center;
    background-color: #eeefff;
    padding:3px;
    border:1px solid #bebebe;
    border-radius:5px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

input[type=submit] {
    width:20%;
    margin-left: 40%;
    margin-top: 30px;
    box-shadow:1px 1px 1px #7e7e7e;
    cursor:pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #aaaaaa;
}
input[type=submit]:active, input[type=reset]:active {
    background-color: #bebebe;
    box-shadow:1px 1px 1px #8c8c8c inset;
}
